---
BreakBeforeBraces: Linux
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
PointerAlignment: Left
IndentWidth: 4
ColumnLimit: 90
...
